body {
    
    margin: 0px;
    color: white;
  }
  
  .wrapper * {
    margin: 1px;
    padding: 2px;
    background-color: lightsteelblue;
    border-radius: 1px;
    flex: 1;
   
  }
  

  header {
    color: white;
    text-align: center;
    margin: 2px;
  }

  .footer {
    text-align: center;
    margin-left: 5px;
    margin-top: 2px;
    background-color: lightsteelblue;
    padding-left: 12%;
  }

  * {
    box-sizing: border-box;
  }
  
  .main{
    border-radius: 1px;
    margin: 2px;
    margin-left: 2px;
  }

  .column {
    text-align: center;
    float: left;
    padding: 15px;
    height: 500px;
    overflow: auto;
   
    }
  .middle {
    width: 30%;
  }
  .right{
    width:20%;
  }
  
  .left {
    width: 50%;
  }
  

  /* Button */
  .modal-content {
    background-color:rgb(127, 163, 185); 
    border: none;
    color:beige;
    padding: 7px 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    
    
  }

  
  /* Modal Content */
  .modal-content1 {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .column1 {
    text-align: center;
    padding: 15px;
    
   
    }

    table1 {
      border-collapse: collapse;
      width: 100%;
      color: #588c7e;
      font-family: monospace;
      font-size: 25px;
      text-align: left;
      }
      th {
      background-color: #74acd4;
      color: white;
      }
      tr:nth-child(even) {background-color: #f2f2f2}
  
  .btn-group .button,.save {
    background-color: #3e889b;
    border: 4px solid rgb(207, 220, 228);
    color: rgb(26, 132, 173);
    padding: 18px 50px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
    width: 100%;
    display: block; 
  }
  
  .btn-group .button:not(:last-child) {
    border-bottom: none; 
  }
  
  .btn-group .button:hover {
    background-color: #3e8e41;
  }